<h2>Education</h2>
<p>
    <b><u>Master of Engineering in Computer Technology (M.A.Sc.)</u></b><br>
    School of Computer Science<br>
    Wuhan University (2013/9 - 2015/7)<br>
</p>
<p>
    <b><u>Bachelor of Management (B.A.Ma.) in Information Management and Information System</u></b><br>
    Dept. of Management Science and Engineering<br>
    Anhui University of Technology (2009/9 - 2013/7)<br>
</p>

<h2>Research</h2>
<p>
	Lei Zhao, Run Wang, Lina Wang, Yueqiang Cheng, "<u>Reversing and Identifying Overwritten Data Structures for Memory-corruption Exploit Diagnosis</u>", The 39th Annual International Computers, Software & Applications Conference (COMPSAC'15), Taiwan, China.
</p>


<h2>Work</h2>
<p>
    <b><u>Apple Inc.</u></b><br>
    Apple Intern - Mac OS X Software (June - Aug 2013)
</p>
<p>
    <b><u>Research in Motion / BlackBerry</u></b><br>
    Junior Software Developer, Intern (May - Sept 2012)<br>
    Application Developer, Intern (May 2010 - Sept 2011)
</p>
<p>
    <b><u>Sick Kids Hospital</u></b><br>
    Research Student (May - Sept 2009)<br>
</p>


<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/wangrun" target="_blank">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://weibo.com/wangrunblog" target="_blank">Weibo</a>
  </li>
</ul>
