<h2>Education</h2>
<p>
    <b><u>Master of Applied Science (M.A.Sc.)</u></b><br>
    Dept. of Electrical and Computer Engineering<br>
    University of Toronto (2012 - 2015)<br>
</p>
<p>
    <b><u>Honours Bachelor of Applied Science (B.A.Sc.) in Engineering Science</u></b><br>
    Major in Electrical and Computer Engineering<br>
    University of Toronto (2007 - 2012), Class of 1T1+PEY<br>
    Undergraduate Thesis: Floating Point Performance on FPGAs vs. CPUs<br>
</p>

<h2>Research</h2>
<p>
    Michelle Wong and David Lie, "<u>IntelliDroid: A Targeted Input Generator for the Dynamic Analysis of Android Malware</u>," to appear in 2016 Network and Distributed System Security Symposium (NDSS), Feb 2016.
</p>
<p>
    Michelle Wong, "<u>Targeted Dynamic Analysis for Android Malware</u>," M.A.Sc. thesis, Dept. of Electrical and Computer Engineering, University of Toronto, 2015. [<a href="https://tspace.library.utoronto.ca/handle/1807/69183" target="_blank">thesis</a>]
</p>

<h2>Work</h2>
<p>
    <b><u>Apple Inc.</u></b><br>
    Apple Intern - Mac OS X Software (June - Aug 2013)
</p>
<p>
    <b><u>Research in Motion / BlackBerry</u></b><br>
    Junior Software Developer, Intern (May - Sept 2012)<br>
    Application Developer, Intern (May 2010 - Sept 2011)
</p>
<p>
    <b><u>Sick Kids Hospital</u></b><br>
    Research Student (May - Sept 2009)<br>
</p>

<h2>Teaching Assistant</h2>
<table class="TATable" border="0">
    <tr><td nowrap>ECE 1776</td><td>&nbsp;-&nbsp;</td><td>Computer Security, Cryptography and Privacy</td></tr>
    <tr><td nowrap>ECE 568</td><td>&nbsp;-&nbsp;</td><td>Computer Security</td></tr>
    <tr><td nowrap>ECE 540</td><td>&nbsp;-&nbsp;</td><td>Optimizing Compilers</td></tr>
    <tr><td nowrap>ECE 454</td><td>&nbsp;-&nbsp;</td><td>Computer Systems Programming</td></tr>
    <tr><td nowrap>ECE 353</td><td>&nbsp;-&nbsp;</td><td>Systems Software (Operating Systems)</td></tr>
    <tr><td nowrap>ECE 385</td><td>&nbsp;-&nbsp;</td><td>Microprocessor Systems</td></tr>
</table><br>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/miwong" target="_blank">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/pub/michelle-wong/4b/762/a4" target="_blank">LinkedIn</a>
  </li>
</ul>
